attrs==25.3.0
blinker==1.9.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.0
clickclick==20.10.2
connexion==2.14.1
Flask==2.2.5
flask-marshmallow==1.3.0
Flask-SQLAlchemy==3.1.1
greenlet==3.2.2
idna==3.10
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
marshmallow==4.0.0
marshmallow-sqlalchemy==1.4.2
packaging==25.0
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
rpds-py==0.25.0
SQLAlchemy==2.0.41
swagger-ui-bundle==0.0.9
typing_extensions==4.13.2
urllib3==2.4.0
Werkzeug==2.3.8
